/* Stepper component from USWDS */
/* https://github.com/uswds/uswds */
.usa-step-indicator {
  font-size:1.06rem;
  line-height:1.1;
  background-color:white;
  margin-bottom:2rem;
  margin-left:-1px;
  margin-right:-1px;
}
@media all and (min-width: 40em) {
  .usa-step-indicator {
    margin-left:0;
    margin-right:0;
  }
}

.usa-step-indicator__segments {
  counter-reset:usa-step-indicator;
  display:flex;
  list-style:none;
  margin:0;
  padding:0;
}

.usa-step-indicator__segment {
  flex:1 1 0%;
  counter-increment:usa-step-indicator;
  margin-left:1px;
  margin-right:1px;
  max-width:15rem;
  min-height:0.5rem;
  position:relative;
}
.usa-step-indicator__segment:after {
  background-color:var(--ADS_Grayscale_50);
  content:"";
  display:block;
  height:0.5rem;
  left:0;
  position:absolute;
  right:0;
  top:0;
}
@media all and (min-width: 40em) {
  .usa-step-indicator__segment:after {
    height:0.5rem;
  }
}

.usa-step-indicator__segment--complete::after {
  background-color:var(--ADS_Blue);
}
.usa-step-indicator__segment--complete .usa-step-indicator__segment-label {
  color:var(--ADS_Blue);
}

.usa-step-indicator__segment--current::after {
  background-color:var(--ADS_Blue_T30);
}
.usa-step-indicator__segment--current .usa-step-indicator__segment-label {
  color:var(--ADS_Blue_T30);
  font-weight:700;
}

.usa-step-indicator__segment-label {
  display:none;
}
@media all and (min-width: 40em) {
  .usa-step-indicator__segment-label {
    color:var(--ADS_Grayscale_50);
    display:block;
    font-size:1.06rem;
    margin-top:calc(
      0.5rem + 0.5rem
    );
    padding-right:2rem;
    text-align:left;
  }
}

.usa-step-indicator__header {
  align-items:baseline;
  display:flex;
}

.usa-step-indicator__heading {
  color:#1b1b1b;
  font-size:1.13rem;
  font-weight:700;
  margin:1rem 0 0;
}
@media all and (min-width: 40em) {
  .usa-step-indicator__heading {
    font-size:1.46rem;
    margin-top:2rem;
  }
}

.usa-step-indicator__current-step {
  height:2.5rem;
  border-radius:99rem;
  width:2.5rem;
  font-weight:normal;
  font-feature-settings:"tnum" 1, "kern" 1;
  background-color:var(--ADS_Blue_T30);
  color:white;
  display:inline-block;
  padding:calc((2.5rem - (2ex * 1.1)) * 0.5);
  text-align:center;
}

.usa-step-indicator__total-steps {
  font-weight:normal;
  font-feature-settings:"tnum" 1, "kern" 1;
  color:var(--ADS_Blue_T30);
  margin-right:0.5rem;
}

@media all and (min-width: 40em) {
  .usa-step-indicator--counters .usa-step-indicator__segment,
  .usa-step-indicator--counters-sm .usa-step-indicator__segment {
    margin-left:0;
    margin-right:0;
    margin-top:calc(
          (
              (
                  2.5rem -
                    0.5rem
                ) /
                2
            ) +
            0.25rem
        );
  }
  .usa-step-indicator--counters .usa-step-indicator__segment:before,
  .usa-step-indicator--counters-sm .usa-step-indicator__segment:before {
    height:2.5rem;
    border-radius:99rem;
    width:2.5rem;
    font-feature-settings:"tnum" 1, "kern" 1;
    background-color:white;
    box-shadow:inset 0 0 0 0.25rem var(--ADS_Grayscale_50), 0 0 0 0.25rem white;
    color:var(--ADS_Grayscale_50);
    content:counter(usa-step-indicator);
    display:block;
    font-weight:700;
    left:0;
    line-height:0.9;
    padding:calc((2.5rem - (2ex * 0.9)) * 0.5);
    position:absolute;
    text-align:center;
    top:calc((
              2.5rem - 0.5rem
            ) / -2);
    z-index:100;
  }
  .usa-step-indicator--counters .usa-step-indicator__segment:last-child:after,
  .usa-step-indicator--counters-sm .usa-step-indicator__segment:last-child:after {
    display:none;
  }
}
.usa-step-indicator--counters .usa-step-indicator__segment--complete::before,
.usa-step-indicator--counters-sm .usa-step-indicator__segment--complete::before {
  background-color:var(--ADS_Blue);
  box-shadow:0 0 0 0.25rem white;
  color:white;
}
.usa-step-indicator--counters .usa-step-indicator__segment--current::before,
.usa-step-indicator--counters-sm .usa-step-indicator__segment--current::before {
  background-color:var(--ADS_Blue_T30);
  box-shadow:0 0 0 0.25rem white;
  color:white;
}
@media all and (min-width: 40em) {
  .usa-step-indicator--counters .usa-step-indicator__segment-label,
  .usa-step-indicator--counters-sm .usa-step-indicator__segment-label {
    margin-top:calc(
        (
            (
                2.5rem + 0.5rem
              ) / 2
          ) + 0.5rem
      );
  }
}
@media all and (min-width: 40em) {
  .usa-step-indicator--counters.usa-step-indicator--center .usa-step-indicator__segment:first-child:after,
  .usa-step-indicator--counters-sm.usa-step-indicator--center .usa-step-indicator__segment:first-child:after {
    left:50%;
    right:0;
    width:auto;
  }
  .usa-step-indicator--counters.usa-step-indicator--center .usa-step-indicator__segment:last-child:after,
  .usa-step-indicator--counters-sm.usa-step-indicator--center .usa-step-indicator__segment:last-child:after {
    display:block;
    left:0;
    right:50%;
    width:auto;
  }
}

@media all and (min-width: 40em) {
  .usa-step-indicator--counters-sm .usa-step-indicator__segment {
    margin-top:calc(
          (
              (
                  1.5rem -
                    0.5rem
                ) /
                2
            ) +
            0.25rem
        );
  }
  .usa-step-indicator--counters-sm .usa-step-indicator__segment:before {
    height:1.5rem;
    border-radius:99rem;
    width:1.5rem;
    font-size:0.93rem;
    padding:calc(0.25rem + 1px);
    top:calc((
              1.5rem - 0.5rem
            ) / -2);
  }
  .usa-step-indicator--counters-sm .usa-step-indicator__segment:last-child:after {
    display:none;
  }
}
@media all and (min-width: 40em) {
  .usa-step-indicator--counters-sm .usa-step-indicator__segment-label {
    margin-top:calc(
        (
            (
                1.5rem + 0.5rem
              ) / 2
          ) + 0.5rem
      );
  }
}

.usa-step-indicator--no-labels {
  margin-left:-1px;
  margin-right:-1px;
}
.usa-step-indicator--no-labels .usa-step-indicator__segment {
  margin-top:0;
  margin-left:1px;
  margin-right:1px;
}
.usa-step-indicator--no-labels .usa-step-indicator__segment:before {
  display:none;
}
.usa-step-indicator--no-labels .usa-step-indicator__segment:last-child:after {
  display:block;
}
.usa-step-indicator--no-labels .usa-step-indicator__heading {
  margin-top:1rem;
}

.usa-step-indicator--no-labels .usa-step-indicator__segment-label {
  display:none;
}

.usa-step-indicator--center {
  margin-left:-1px;
  margin-right:-1px;
}
.usa-step-indicator--center .usa-step-indicator__segment {
  margin-left:1px;
  margin-right:1px;
}
.usa-step-indicator--center .usa-step-indicator__segment:before {
  left:calc(50% - (
                  2.5rem +
                    0.25rem
                ) / 2);
}
.usa-step-indicator--center .usa-step-indicator__segment-label {
  padding-left:0.5rem;
  padding-right:0.5rem;
  text-align:center;
}
.usa-step-indicator--center.usa-step-indicator--no-labels .usa-step-indicator__segment:first-child:after {
  left:0;
}
.usa-step-indicator--center.usa-step-indicator--no-labels .usa-step-indicator__segment:last-child:after {
  right:0;
}
.usa-step-indicator--center.usa-step-indicator--counters-sm .usa-step-indicator__segment:before {
  left:calc(50% - (
                    1.5rem +
                      0.25rem
                  ) / 2);
}

.usa-sr-only {
  position:absolute;
  left:-999em;
  right:auto;
}