@import "../global_colors.css";
td {
  padding-top: 16px;
}

table {
  width: 100%;
}

#grid-example .row>[class^=col-] {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: #bbeffd;
  border: 1px solid #61dafb;
}

#grid-example .row+.row {
  margin-top: 1rem;
}


.break {
  padding: 10px;
}
