.configurationGrayBox{
  padding: 16px;
  background-color: var(--ADS_Background_Gray_Med1);
  margin-top: 5px;
  display: grid;
}

.configurationGraySubBox {
  padding: 16px;
  background-color: var(--ADS_Background_Gray_Light);
  margin: 32px 16px 0px 16px
}

.configurationGrayColumnSubBox {
  padding: 16px;
  background-color: var(--ADS_Background_Gray_Light);
  margin: 32px 28px 0px 28px
}

.configurationClearColumnSubBox {
  padding: 16px;
  margin: 32px 28px 0px 28px
}